*.sdf
*.opensdf
*.user
/*/Debug
/*/Release
/Debug
/Release
/bin
/test/.stderr*
/test/.stdout*
*.suo
/test/rel.log*
/test/dbg.log*
/pict.VC.db
/pict.VC.VC.opendb
*.user
*.aps
*.ipch
*.VC.*db*
pict
*.o
/packages
/pictclidll-pinvoke/bin
/pictclidll-pinvoke/obj
/cli-pinvoke/bin
/cli-pinvoke/obj
/clidll-pinvoke/bin/Debug/netstandard2.0
/clidll-pinvoke/obj
/clidll-pinvoke/bin/Release/netstandard2.0
